* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-style: none;
}
html {
  width: 100%;
  /* 반응형 최소 너비 설정 */
  min-width: 540px;
  /* 가로 스크롤은 UI 상 좋지 않아요 */
  overflow-x: hidden;

  /* 디자인 보고 수정 */
  font-size: 12px;
  background-color: darkgrey;
}
